<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Reddit UI Test Suite" verbose ="5" parallel="methods" thread-count="10">

    <listeners>
        <listener class-name="com.reddit.automation.utils.ExtentReportListener"></listener>
    </listeners>

    <parameter name="username" value="mavdabbler"/>
    <parameter name="password" value="^I^DB]ln|L66PYnV6"/>

    <test name="As a user, I can login.">
        <classes>
            <class name="com.reddit.automation.pageTests.E2ETestCases">
                <methods>
                    <include name="validateLoginInReddit" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="As a user, I am able to see my subscribed subreddits.">
        <parameter name="listOfSubReddits" value="r/politics: Politics|r/programming: programming|r/pics: Reddit Pics|r/technology: /r/Technology|r/soccer: The back page of the internet|r/nottheonion: Sadly, this is not the Onion.|r/MachineLearning: Machine Learning|r/learnprogramming: learn programming|r/streetwear: Streetwear|r/polandball: Polandball|r/mildlyinteresting: For photos that are, you know, mildly interesting|r/reallifedoodles: Real Life Doodles|r/BeAmazed: I bet you will Be Amazed !|r/wholesomememes: Internet for the Spirit|r/MavericksDnD: For the Mavericks Dudes and Dudettes|r/Stadia: Stadia"/>
        <classes>
            <class name="com.reddit.automation.pageTests.E2ETestCases">
                <methods>
                    <include name="validateListOfMySubReddits" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="As a user, I am able to view one of my subscribed subreddits.">
        <parameter name="mySubRedditToBeViewed" value="r/programming"/>
        <classes>
            <class name="com.reddit.automation.pageTests.E2ETestCases">
                <methods>
                    <include name="viewOneOfMySubReddits" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="As a user, I am able to upvote a post.">
        <parameter name="mySubRedditToBeViewed" value="r/MavericksDnD: For the Mavericks Dudes and Dudettes"/>
        <parameter name="expectedVoteCount" value="0"/>
        <classes>
            <class name="com.reddit.automation.pageTests.E2ETestCases">
                <methods>
                    <include name="createPostAndVerifyUpvote" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="As a user, I am able to downvote a post.">
        <parameter name="mySubRedditToBeViewed" value="r/MavericksDnD: For the Mavericks Dudes and Dudettes"/>
        <parameter name="expectedVoteCount" value="-1"/>
        <classes>
            <class name="com.reddit.automation.pageTests.E2ETestCases">
                <methods>
                    <include name="createPostAndVerifyDownvote" />
                </methods>
            </class>
        </classes>
    </test>

</suite>