<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Reddit UI Test Suite" verbose ="5" parallel="methods" thread-count="10">

    <listeners>
        <listener class-name="com.reddit.automation.ui.utils.ExtentReportListener"></listener>
    </listeners>

    <test name="Sample Test">
        <parameter name="firstname" value="Shreyas"/>
        <classes>
            <class name="com.reddit.automation.ui.pageTests.LoginTestCases">
            	<methods>
        			<include name="sampleTest" />
      			</methods>
            </class>
        </classes>
    </test>

</suite>